# Environment 'development', 'test', or 'production'
ENV=development

# Message Queue connection
# If connecting on a docker network, MQ_HOST is the hostname of the docker container for the message queue system e.g. MQ_HOST=mps-activemq-prototype
DRS_MQ_HOST=b-20382e88-7651-49e3-b904-76b421818e4f-1.mq.us-east-1.amazonaws.com
DRS_MQ_PORT=61614
DRS_MQ_USER=manager
DRS_MQ_PASSWORD=XXX
DRS_TOPIC_NAME=/topic/dts-dev-DRS_OBJECT_UPDATED
#When this queue is consumed, it triggers the mock service to place a message
#on the DRS_OBJECT_UPDATED topic.
DRS_QUEUE_CONSUME_NAME=/queue/mock-drs-ingest-trigger

TRANSFER_MQ_HOST=b-e57fc418-9916-406e-882b-6c49fa1e2ee2-1.mq.us-east-1.amazonaws.com
TRANSFER_MQ_PORT=61614
TRANSFER_MQ_USER=ims
TRANSFER_MQ_PASSWORD=XXX
STARFISH_TRANSFER_QUEUE_PUBLISH_NAME=/queue/dropbox-transfer-status
STARFISH_TRANSFER_QUEUE_CONSUME_SUCCESS_NAME=/queue/transfer-ready-success
STARFISH_TRANSFER_QUEUE_CONSUME_FAILURE_NAME=/queue/transfer-ready-failure

PROCESS_MQ_HOST=b-cfb7f4c2-9140-4b5b-a551-1ccaf8c61d4e-1.mq.us-east-1.amazonaws.com
PROCESS_MQ_PORT=61614
PROCESS_MQ_USER=ims
PROCESS_MQ_PASSWORD=XXX
PROCESS_QUEUE_NAME=/queue/dims-data-ready-mock